.camera-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.camera-controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre los botones */
}

.rounded-button {
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none;
  border-radius: 50%; /* Bordes redondeados */
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rounded-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

.capture-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(122, 122, 122);
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.captured-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.captured-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transform: scaleX(-1);
}
