<<<<<<< HEAD
.main-layout{
    width: 80vw;
}

@media (max-width: 768px) {
    .main-layout{
        width: 100vw;
        height: auto;
    }
}
=======
.main-layout {
  width: 80vw;
}

@media (max-width: 768px) {
  .main-layout {
    width: 100vw;
    height: auto;
  }
}
>>>>>>> develop
